html, body {
         background:#1d1f21;
         color:#c5c8c6;
}
a {
        color:#5f89ac;
}
a:hover {
        color:#81a2be;
}
.adminbar {
        text-align:right;
        clear:both;
        float:right;
}
.logo {
        clear:both;
        text-align:center;
        font-size:2em;
        color:#c5c8c6;
        width:100%;
}
.sublogo {
        clear:both;
        text-align:center;
        font-size:1em;
        color:#c5c8c6;
        width:100%;
		padding: 2px 0px 12px 0px;
}
.banner {
	margin-top: 10px;
}
.theader {
        background:#040405;
        text-align:center;
        padding:2px;
        color:#c5c8c6;
        width:100%;
}
.postarea {
}
.postblock {
        background:#2C3038;
        color:#c5c8c6;
        font-weight:800;
}
.footer {
        text-align:center;
        font-size:12px;
        font-family:serif;
		clear: both;
		padding-top: 10px;
}
.passvalid {
	background:#282a2e;
	text-align:center;
	width:100%;
	color:#ffffff;
}
.dellist {
	font-weight: bold;
	text-align:center;
}
.delbuttons {
	text-align:center;
	padding-bottom:4px;

}
.managehead {
	background:#212833;
	color:#c5c8c6;
	padding:0px;
}
.postlists {
	background:#000;
	width:100%;
	padding:0px;
	color:#c5c8c6;
}
.row1 {
	background:#282a2e;
	color:#c5c8c6;
}
.row2 {
        background:#34373D;
        color:#c5c8c6;
}
.unkfunc {
	background:inherit;
	color:#b5bd68;
}
.filesize {
	font-size:12px;
	font-family:sans-serif;
	text-decoration:none;
}
.filetitle {
	background:inherit;
	font-size:1.2em;
	color:#b294bb;
	font-weight:800;
}
.postername {
	color:#c5c8c6;
	font-weight:bold;
}
.postertrip {
	color:#228854;
}
.oldpost {
        color:#CC1105;
        font-weight:800;
}
.omittedposts {
        color:#707070;
}
.reply {
	background:#282a2e;
	color:#c5c8c6;
}
.doubledash {
 	vertical-align:top;
	clear:both;
	float:left;
	color:#282a2e;
}
.replytitle {
	font-size: 1.2em;
        color:#b294bb;
        font-weight:800;
}
.commentpostername {
        color:#c5c8c6;
	font-weight:800;
}
.thumbnailmsg {
	font-size: small;
	color:#c5c8c6;
}



.abbrev {
        color:#707070;
}
.highlight {
	background:#1d1d21;
	color:#c5c8c6;
	border: 2px dashed #111;
}

/* board list */

.logo a, .sublogo a {
        clear:both;
        text-align:center;
        font-size:1.0em;
        color:#c5c8c6;
        width:100%;
}

.category {
	font-family: sans-serif;
	font-size: small;
	margin-bottom: 8px;
	background: #465470;
}

.header {
        background: #282a2e;
	color: #c5c8c6;
	padding: 0px 3px 0px 3px;
	font-weight: bold;
}

.list {
        border-left: 1px solid #465470;
        border-right: 1px solid #465470;
        border-bottom: 1px solid #465470;
}

.list div a {
	display: block;
	text-decoration: none;
	color: #c5c8c6;
	padding: 0px 3px 0px 3px;
}

.list div a:hover {
	background: #FFFFFF;
}

/* admin posts */

.adminname {
	color: #A01137;
}

/* rules */

.rules {
        font-size:0.7em;
		font-family:sans-serif;
}

.rules table {
	margin: 5px 0px 5px 0px;
}

.prohibition {
	color: #A01137;
}

.prohibition ul, .info ul {
	margin: 0px;
	padding: 0px 0px 0px 20px;
}

/* title page */

.news {
        background: #465470;
	color: #c5c8c6;
	padding: 0px 3px 0px 3px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 5px;
}

.greeting {
	text-align: center;
	font-weight: bold;
	color: #c5c8c6;
}

.spoiler {
	background: #465470;
	color: #465470;
}

.spoiler:hover {
	background: #000000;
	color: #FFFFFF;
}


.captcha {
	color: #c5c8c6;
	/*
	  Foreground color of the letters on pictures generated by captcha.pl.
	  Don't use comments right before declaration of this class.
	*/
}
.iichan-quick-reply-btn > svg {
	color: #5f89ac;
}

.iichan-hide-thread-btn > svg {
	color: #5f89ac;
}
.iichan-quick-reply-btn > svg:hover {
	color: #81a2be;
}

.iichan-hide-thread-btn > svg:hover {
	color: #81a2be;
}

hr {
	border-top: 1px solid #282a2e !important;
	height: 0;
	border: 0;
}

.topmenu {
    border-bottom: 1px solid #707070;
    opacity: 0.95;
    background: #1d1f21;
}

.nav-btn {
    fill: #5f89ac;
}

.nav-btn:hover {
    fill: #81a2be;
}

.mainpagecntnr {
    border-bottom: 1px solid #282a2e !important;
}