{% extends 'wakaba_base.html' %}

{% block title %}MeWeちゃん — {{title}}{% endblock %}
{% block logo_title %}MeWeちゃん — {{title}}{% endblock %}

{% block content %}
  {% if can_post %}
  <div class="postarea">
   <form id="postform" action="/post/" method="post" enctype="multipart/form-data">
    <table width="1%">
     <tbody>
      <tr>
        <td class="postblock">Сообщение</td>
        <td>
          <textarea name="nya4" cols="60" rows="6"></textarea>
        </td>
      </tr>
      <tr>
       <td class="postblock">Файл</td>
       <td><input type="file" name="file" size="35"></td>
      </tr>
     </tbody>
    </table>
   </form>
  </div>
  {% endif %}
  <table border="1">
    <tbody>
      <tr>
        <td>
          <form method="get" action=".">
            <input value="В начало" type="submit">
          </form>
        </td>
        <td>
          <form method="get" action="">
            <input value="{{ contents[-1].id }}" type="hidden" name="b">
            <input value="{{ contents[0].id }}" type="hidden" name="a">
            <input value="Далее" type="submit">
          </form>
        </td>
      </tr>
    </tbody>
  </table>
  <hr>
  {% with board_view=True %}
    {% for post in contents %}
      {% include 'wakaba_thread.html' %}
    {% endfor %}
  {% endwith %}
  <table border="1">
    <tbody>
      <tr>
        <td>
          <form method="get" action=".">
            <input value="В начало" type="submit">
          </form>
        </td>
        <td>
          <form method="get" action="">
            <input value="{{ contents[-1].id }}" type="hidden" name="b">
            <input value="{{ contents[0].id }}" type="hidden" name="a">
            <input value="Далее" type="submit">
          </form>
        </td>
      </tr>
    </tbody>
  </table>
{% endblock %}
