{%- if content.images %}
<span class="filesize">
  <a target="_blank" href="{{content.images[0].url}}" class="pmedialink" title="{{content.images[0].name}}">{{content.images[0].name}}</a> -
  (<em>{{content.images[0].mime}}, {{content.images[0].size}}</em>)
</span>
{%- if post.emojis and not is_comment %}<span class="emojis">
  [{%- for emoji in post.emojis %}
    <img class="mewe-emoji" src="{{ emoji.url }}" alt="{{ emoji.code }}"> {{ emoji.count }}{% if not loop.last %}|{% endif %}
  {% endfor %}]
</span>
{% endif %}
<br>
<div class="image-container">
 {% if content.images|length > 1 and hide_images %}
 <div class="imgbuttons">
   {% for image in content.images %}
   <div class="imgselect{% if loop.first %} sactive{% endif %}" onmouseover="set_visible_image(this, {{ loop.index-1 }})">■</div>
   {% endfor %}
 </div>
 {% endif %}
 <div class="imgs">
 {% for image in content.images %}
 <a target="_blank" href="{{image.url}}" class="imglink{% if not loop.first and hide_images %} thidden{% endif %}" title="{{image.name}} - ({{image.mime}}, {{image.size}})">
   {% if image.thumb_vertical %}
   <img src="{{image.thumb}}" width="auto" height="{{ mewe_cfg.thumb_size }}" alt="{{image.name}}" class="thumb">
   {% else %}
   <img src="{{image.thumb}}" width="{{ mewe_cfg.thumb_size }}" height="auto" alt="{{image.name}}" class="thumb">
   {% endif %}
 </a>
 {% endfor %}
 </div>
</div>

{% elif content.videos %}
<span class="filesize">
  <a target="_blank" href="{{content.videos[0].url|safe}}" class="pmedialink" title="{{content.videos[0].name}}">{{content.videos[0].name}}</a> -
  (<em>video/mp4, {{content.videos[0].size}}, {{content.videos[0].duration}}s</em>)
</span>
{%- if post.emojis and not is_comment %}<span class="emojis">
  [{%- for emoji in post.emojis %}
    <img class="mewe-emoji" src="{{ emoji.url }}" alt="{{ emoji.code }}"> {{ emoji.count }}
    {%- if not loop.last %}|{%- endif %}
  {%- endfor %}]
</span>
{%- endif %}
<br>
<div class="image-container">
 {% for video in content.videos %}
 <a target="_blank" href="{{video.url}}" class="imglink" title="{{video.name}} - (video/mp4, {{video.size}}), {{video.duration}}s">
   {% if not video.thumb %}
   <div class="nothumb" alt="{{video.name}}">Нет<br>уменьшенной<br>копии.</div>
   {% elif video.thumb_vertical %}
   <img src="{{video.thumb|safe}}" width="auto" height="{{ mewe_cfg.thumb_size }}" alt="{{video.name}}" class="thumb">
   {% else %}
   <img src="{{video.thumb|safe}}" width="{{ mewe_cfg.thumb_size }}" height="auto" alt="{{video.name}}" class="thumb">
   {% endif %}
 </a>
 {% endfor %}
</div>

{% elif content.files %}
<span class="filesize">
  <a target="_blank" href="{{content.files[0].url|safe}}" class="pmedialink" title="{{content.files[0].name}}">{{content.files[0].name}}</a> -
  (<em>{{content.files[0].mime}}, {{content.files[0].size}} bytes</em>)
</span>
{% if post.emojis and not is_comment %}<span class="emojis">
  [{% for emoji in post.emojis %}
    <img class="mewe-emoji" src="{{ emoji.url }}" alt="{{ emoji.code }}"> {{ emoji.count }}
    {% if not loop.last %}|{% endif %}
  {% endfor %}]
</span>
{% endif %}
<br>
<div class="nothumb">Нет<br>уменьшенной<br>копии.</div>

{% elif content.link %}
<span class="filesize">
  <a target="_blank" href="{{ content.link.url|safe }}" class="pmedialink" title="{{ content.link.title }}">{{ content.link.title }}</a> -
  (<em>link, {{ content.link.name }}</em>)
</span>
{% if post.emojis and not is_comment %}<span class="emojis">
  [{% for emoji in post.emojis %}
    <img class="mewe-emoji" src="{{ emoji.url }}" alt="{{ emoji.code }}"> {{ emoji.count }}
    {% if not loop.last %}|{% endif %}
  {% endfor %}]
</span>
{% endif %}
<br>
  {% if content.link.thumb %}
  <div class="image-container">
    <a class="imglink" target="_blank" href="{{ content.link.url|safe }}" title="{{content.link.text}}">
      <img src="{{ content.link.thumb|safe }}" width="{{ mewe_cfg.thumb_size }}" height="auto" alt="{{ content.link.title }}" class="thumb">
    </a>
  </div>
  {% else %}
  <div class="nothumb">Нет<br>уменьшенной<br>копии.</div>
  {% endif %}
{% else %}
  {% if is_comment %}
  {% else %}
    <span class="filesize"></span>
    <div class="nothumb">Нет<br>уменьшенной<br>копии.</div>
    {% if post.emojis %}
    <span class="emojis">
      [{% for emoji in post.emojis %}
        <img class="mewe-emoji" src="{{ emoji.url }}" alt="{{ emoji.code }}"> {{ emoji.count }}
      {% if not loop.last %}|{% endif %}
      {% endfor %}]
    </span>
    {% endif %}
  {% endif %}
{% endif %}
