<table class="{{ table_class }}"><tbody>
  <tr>
    <td class="doubledash">&gt;&gt;</td>
    <td class="reply" id="reply{{comment.id}}">
     <a name="{{comment.id}}"></a>
     <label>
      <input type="checkbox" name="delete" value="{{comment.id}}">
      <span class="replytitle"></span>
      <span class="commentpostername">{{comment.user}}</span>
      <a class="posterlink" href="/userfeed/{{comment.user_id}}">▶</a>
      {{comment.date}}
     </label>
     <span class="reflink"><a href="javascript:insert(&#39;&gt;&gt;{{comment.id}}&#39;)">№{{comment.id}}</a></span>
     <span class="postnum">#{{ reply_type }}</span>
     <br>
     {% with content=comment, is_comment=True %}
       {% include 'wakaba_post_content.html' %}
     {% endwith %}
     <div class="post">{{comment.text|safe}}</div>
    </td>
  </tr>
</tbody></table>
