{% extends 'wakaba_base.html' %}

{% block title %}MeWeちゃん — {{post.author}}@{{post.date}}{% endblock %}
{% block logo_title %}MeWeちゃん — {{post.author}}{% endblock %}
{% block body_class %}class="replypage"{% endblock %}

{% block content %}
  <div class="postarea">
   <form id="postform" action="/reply" method="post" enctype="multipart/form-data">
    <table width="1%">
     <tbody>
      <tr>
        <td class="postblock">Получатель</td>
        <td>
          <input type="text" name="reply_to" size="35">
          <input type="submit" value="Отправить">
          <input type="hidden" name="post_id" value="{{post.id}}">
        </td>
      </tr>
      <tr>
        <td class="postblock">Сообщение</td>
        <td>
          <textarea name="text" cols="60" rows="6"></textarea>
        </td>
      </tr>
      <tr>
       <td class="postblock">Файл</td>
       <td><input type="file" name="file" size="35"></td>
      </tr>
      <tr>
       <td class="postblock">Перейти к</td>
       <td>
        <label>[<input name="postredir" value="0" type="radio">доске ]</label>
        [<label><input name="postredir" value="1" type="radio" checked>треду ]</label>
       </td>
      </tr>
     </tbody>
    </table>
   </form>
  </div>
  <hr>
  {% include 'wakaba_thread.html' %}
{% endblock %}
