{% extends 'wakaba_base.html' %}

{% block title %}MeWeちゃん — {{post.author}}@{{post.date}}{% endblock %}
{% block logo_title %}MeWeちゃん — {{post.author}}{% endblock %}
{% block body_class %}class="replypage"{% endblock %}

{% block content %}
  <div class="postarea">
   <form id="postform" action="/post/" method="post" enctype="multipart/form-data">
    <input type="hidden" name="task" value="post">
    <input type="hidden" name="parent" value="{{post_id}}">
    <input type="hidden" name="nya1">
    <table width="1%">
     <tbody>
      <tr>
        <td class="postblock">Получатель</td>
        <td>
          <input type="text" name="nya3" size="35">
          <input type="submit" value="Отправить">
        </td>
      </tr>
      <tr>
        <td class="postblock">Сообщение</td>
        <td>
          <textarea name="nya4" cols="60" rows="6"></textarea>
        </td>
      </tr>
      <tr>
       <td class="postblock">Файл</td>
       <td><input type="file" name="file" size="35"></td>
      </tr>
     </tbody>
    </table>
   </form>
  </div>
  <hr>
  {% include 'wakaba_post.html' %}
{% endblock %}
