{% extends 'wakaba_base.html' %}

{% block title %}MeWeちゃん — Главная{% endblock %}
{% block logo_title %}MeWeちゃん{% endblock %}

{% block content%}
  <div class="featurecntnr">
    <div class="greeting">
      <img alt="" src="/n/23-03-08-1675420534936.png" width="650" height="867" />
      <p>Изображение из <a href="/b/res/5227175.html">треда</a> в <a href="/b/">/b/</a></p>
    </div>
    <div class="greeting">
      <img alt="" src="/n/23-03-08-1678053874707.jpg" width="649" height="482" />
      <p> Изображение из <a href="/b/res/5273650.html">треда</a> в <a href="/b/">/b/</a></p>
    </div>
    <div class="greeting">
      <img alt="" src="/n/23-03-08-1673783354802.jpg" width="650" height="635" />
      <p> Изображение из <a href="/o/res/28501.html">треда</a> в <a href="/o/">/o/</a></p>
    </div>
  </div>

  <div class="mainpagecntnr">
    <div class="newscntnr">
      <div class="news">Последние посты с текстом</div>
      <!--thread-->
      <br clear="left" />
      <hr />
      <div id="post_id">
        <a name="82" />
        <span class="filetitle" />
        <span class="postername">
          <span class="adminname">Красный пользователь</span>
        </span>
        Дата
        <blockquote>Текст</blockquote>
      </div>
      <!--thread-->
      <br clear="left" />
      <hr />
      <div id="post_id">
        <a name="82" />
        <span class="filetitle" />
        <span class="postername">Пользователь</span>
        Дата
        <blockquote>Текст</blockquote>
      </div>

      <hr />
      <br clear="all" />
    </div>

    <div class="mainpagelinks">
      <div class="mnpglnkcolumn">
        <div class="header">Колонка</div>
        <ul>
          <li><a href="#" title="Example link">Ссылка на что-нибудь</a></li>
          <li><a href="#" title="Example link">Ссылка на что-нибудь</a></li>
          <li><a href="#" title="Example link">Ссылка на что-нибудь</a></li>
          <li><a href="#" title="Example link">Ссылка на что-нибудь</a></li>
          <li><a href="#" title="Example link">Ссылка на что-нибудь</a></li>
          <li><a href="#" title="Example link">Ссылка на что-нибудь</a></li>
          <li><a href="#" title="Example link">Ссылка на что-нибудь</a></li>
          <li><a href="#" title="Example link">Ссылка на что-нибудь</a></li>
        </ul>
      </div>
      <div class="mnpglnkcolumn">
        <div class="header">Колонка</div>
        <ul>
          <li><a href="#" title="Example link">Ссылка на что-нибудь</a></li>
          <li><a href="#" title="Example link">Ссылка на что-нибудь</a></li>
          <li><a href="#" title="Example link">Ссылка на что-нибудь</a></li>
          <li><a href="#" title="Example link">Ссылка на что-нибудь</a></li>
          <li><a href="#" title="Example link">Ссылка на что-нибудь</a></li>
          <li><a href="#" title="Example link">Ссылка на что-нибудь</a></li>
          <li><a href="#" title="Example link">Ссылка на что-нибудь</a></li>
          <li><a href="#" title="Example link">Ссылка на что-нибудь</a></li>
        </ul>
    </div>
  </div>
{% endblock %}
