{% extends 'wakaba_base.html' %}

{% block title %}MeWeちゃん — {{title}}{% endblock %}
{% block logo_title %}MeWeちゃん — {{title}}{% endblock %}

{% block content %}
  {% if can_post %}
  <div class="postarea">
   <form id="postform" action="/newpost" method="post" enctype="multipart/form-data">
    <table width="1%">
     <tbody>
      <tr>
        <td class="postblock">Тема</td>
        <td>
          <input name="group" size="35" list="albums"></input>
          <datalist id="albums"></datalist>
          <input type="submit" value="Отправить">
        </td>
      </tr>
      <tr>
        <td class="postblock">Сообщение</td>
        <td><textarea name="text" cols="60" rows="6"></textarea></td>
      </tr>
      <tr>
       <td class="postblock">Файл</td>
       <td><input type="file" name="file" size="35"></td>
      </tr>
      <tr>
       <td class="postblock">Перейти к</td>
       <td>
        <label>[<input name="postredir" value="0" type="radio">доске ]</label>
        [<label><input name="postredir" value="1" type="radio" checked>треду ]</label>
       </td>
      </tr>
      <tr>
       <td class="postblock">Видимость</td>
       <td>
        <label>[<input name="visibility" value="all" type="radio">все ]</label>
        [<label><input name="visibility" value="subs" type="radio" checked>подписчики ]</label>
        [<label><input name="visibility" value="friends" type="radio">друзья ]</label>
       </td>
      </tr>
     </tbody>
    </table>
   </form>
  </div>
  {% endif %}
  <table border="1" style="display:inline-block">
    <tbody>
      <tr>
        <td>
          <form method="get" action=".">
            <input value="В начало" type="submit">
          </form>
        </td>
        <td>
          <form method="get" action="">
            <input value="{{ contents[-1].id }}" type="hidden" name="b">
            <input value="{{ contents[0].id }}" type="hidden" name="a">
            <input value="Далее" type="submit">
          </form>
        </td>
      </tr>
    </tbody>
  </table>
  <hr>
  {% with board_view=True %}
    {% for post in contents %}
      {% include 'wakaba_thread.html' %}
    {% endfor %}
  {% endwith %}
  <table border="1">
    <tbody>
      <tr>
        <td>
          <form method="get" action=".">
            <input value="В начало" type="submit">
          </form>
        </td>
        <td>
          <form method="get" action="">
            <input value="{{ contents[-1].id }}" type="hidden" name="b">
            <input value="{{ contents[0].id }}" type="hidden" name="a">
            <input value="Далее" type="submit">
          </form>
        </td>
      </tr>
    </tbody>
  </table>
{% endblock %}
