{% extends 'wakaba_base.html' %}

{% block title %}MeWeちゃん — Главная{% endblock %}
{% block logo_title %}{% endblock %}

{% block content%}
  <div class="mainpagecntnr">
    <div class="newscntnr">
      <div class="news">Оповещения
        <form class="dismiss" method="post" action="/markallread"><input value="x" type="submit"></form>
      </div>
      <div class="newscont">
        {% for notice in notifies %}
        <!--thread-->
        <div id="post_id">
          <span class="filetitle" />
          {{notice.date}}
          {% if notice.new %}<sup class="new_n">NEW</sup>{% endif %}
          {% if notice.post_url %}
            {% if notice.comment_id %}
            <a href="{{notice.post_url}}{% if notice.new %}?markread={{ notice.notify_id }}{% endif%}#reply{{notice.comment_id}}" target="_blank">[&gt;&gt;]</a>
            {% else %}
            <a href="{{notice.post_url}}{% if notice.new %}?markread={{ notice.notify_id }}{% endif%}" target="_blank">[&gt;&gt;]</a>
            {% endif %}
          {% endif %}
          <br/>
          <span class="postername">{{notice.headline}}</span>
          <blockquote style="white-space:pre-wrap;">{{notice.message}}</blockquote>
        </div>
        <hr />
        {% endfor %}
        <br clear="all" />
      </div>
    </div>

    <div class="mainpagelinks">
      <div class="mnpglnkcolumn">
        <div class="header">Последние активные в ленте</div>
        <ul>
          {% for activity in last_active.values() %}
          <li>
            <a href="/userfeed/{{activity.user_id}}">{{activity.name}}</a>
            ■
            <a href="/viewpost/{{activity.last_post}}">{{activity.date}}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div class="news">Последние медиа</div>
  <div class="featurecntnr">
    {% for image in medias %}
    <div class="greeting">
      <a href="{{image.post_url}}" target="_blank">
        <img class="gallery_img" title="{{image.date}}" src="{{image.url}}" />
      </a>
    </div>
    {% endfor %}
  </div>
{% endblock %}
