<form id="delform" action="/post" method="post" enctype="multipart/form-data">
 <div id="thread-{{post.id}}">
  {% with content=post.content %}
    {% include 'wakaba_post_content.html' %}
  {% endwith %}

  <div class="postmeta oppost">
    <label>
     <span class="filetitle">{{post.content.album}}</span>
     <span class="postername">{{post.author}}</span>
     <a class="posterlink" href="/userfeed/{{post.author_id}}">▶</a>
     <span class="postflags">{% if post.subscribed %}✿{% endif %}</span>
     {{post.date}}
    </label>
    <span class="reflink"><a href="javascript:insert(&#39;{{post.id}}&#39;, &#39;{{post.author_id}}&#39;)">№{{post.id[-8:]}}</a></span>
    <span class="postnum">#OP</span>
  </div>
    {% if board_view -%}
    [<a href="/viewpost/{{post.id}}" target="_blank">Ответ</a>]
    [<a href="https://mewe.com/post/show/{{post.id}}" target="_blank">Mewe</a>]
    {%- endif %}
  <div class="post">
    {{ post.content.text|safe }}
    {% if post.content.repost %}
      {% if post.content.repost.deleted %}
      <div class="repost">
        <p>Post unavailable<br>
This post may have been deleted or the person that shared it may have changed its permissions.</p>
      </div>
      {% else %}
      <div class="repost">
        {% with content=post.content.repost %}
          {% include 'wakaba_post_content.html' %}
        {% endwith %}
        {% with post=post.content.repost %}
        <div class="postmeta oppost">
          <label>
           <span class="filetitle">{{post.album}}</span>
           <span class="postername">{{post.author}}</span>
           <a class="posterlink" href="/userfeed/{{post.author_id}}">▶</a>
           {{post.date}}
          </label>
          <span class="reflink"><a>№{{post.id}}</a></span>
          {% if post.emojis %}<span class="emojis">
            [{% for emoji in post.emojis %}
              <img class="mewe-emoji" src="{{ emoji.url }}" alt="{{ emoji.code }}"> {{ emoji.count }}
              {% if not loop.last %}|{% endif %}
            {% endfor %}]
          </span>
          {% endif %}
          <span class="postnum">#Q</span>
        </div>
        [<a href="/viewpost/{{post.id}}" target="_blank">Ответ</a>]
        {{ post.text|safe }}
      {% endwith %}
      {% endif %}
      </div>
    {% endif %}
  </div>
  {% if board_view and post.missing_count %}
    <span class="omittedposts"> Пропущено {{post.missing_count}} сообщений. Для просмотра нажмите "Ответ".</span>
  {% endif %}
  {% for comment in post.comments %}
    {% with comment=comment, reply_type='C', table_class='l1reply', board_view=board_view %}
      {% include 'wakaba_post_reply.html' %}
    {% endwith %}

    {% for reply in comment.replies %}
      {% with parent=comment, comment=reply, reply_type='R', table_class='l2reply', board_view=board_view %}
        {% include 'wakaba_post_reply.html' %}
      {% endwith %}
    {% endfor %}
  {% endfor %}
 </div>
 <!--thread-->
 <br clear="left">
 <hr>
</form>
