<form id="delform" action="/post" method="post">
 <div id="thread-{{post.id}}">
  {% with content=post.content %}
    {% include 'wakaba_post_content.html' %}
  {% endwith %}

  <div style="display: inline-block;">
    <label>
     <span class="filetitle"></span>
     <span class="postername">{{post.author}}</span>
     <a class="posterlink" href="/userfeed/{{post.author_id}}" target="_blank">▶</a>
     {{post.date}}
    </label>
    <span class="reflink"><a href="javascript:insert({{post.id}})">№{{post.id}}</a></span>
    <span class="postnum">#OP</span>
    {% if board_view %}[<a href="/viewpost/{{post.id}}" target="_blank">Ответ</a>]{% endif %}
  </div>
  <div class="post">
    {{ post.content.text|safe }}
    {% if post.content.repost %}
      <div class="repost">
      {% with content=post.content.repost %}
        {% include 'wakaba_post_content.html' %}
      {% endwith %}
      {% with post=post.content.repost %}
        <label>
         <span class="filetitle"></span>
         <span class="postername">{{post.author}}</span>
         <a class="posterlink" href="/userfeed/{{post.author_id}}" target="_blank">▶</a>
         {{post.date}}
        </label>
        <span class="reflink"><a href="javascript:insert({{post.id}})">№{{post.id}}</a></span>
        <span class="postnum">#Q</span>
        [<a href="/viewpost/{{post.id}}" target="_blank">Ответ</a>]
        {{ post.text|safe }}
      {% endwith %}
      </div>
    {% endif %}
  </div>
  {% if board_view and post.missing_count %}
    <span class="omittedposts"> Пропущено {{post.missing_count}} сообщений. Для просмотра нажмите "Ответ".</span>
  {% endif %}
  {% for comment in post.comments %}
    {% with comment=comment, reply_type='C', table_class='l1reply' %}
      {% include 'wakaba_post_reply.html' %}
    {% endwith %}

    {% for reply in comment.replies %}
      {% with comment=reply, reply_type='R', table_class='l2reply' %}
        {% include 'wakaba_post_reply.html' %}
      {% endwith %}
    {% endfor %}
  {% endfor %}
 </div>
 <!--thread-->
 <br clear="left">
 <hr>
</form>
